.add-button {
  position: absolute;
  right: 20px;
  top: 100px;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-row:hover {
  cursor: pointer;
  background-color: whitesmoke;
}
