.add-button {
  position: absolute;
  right: 20px;
  top: 100px;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mat-row:hover {
  cursor: pointer;
  background-color: whitesmoke;
}

.mat-column-id {
  border-right: 1px solid rgb(219, 219, 219);
  max-width: 60px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.mat-column-name {
  padding: 10px;
}

.mat-column-actions {
  border-left: 1px solid rgb(219, 219, 219);
  max-width: 60px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-red-color{
  color: red;
}
